@font-face {
    font-family: 'Rocher';
    src: url(./fonts/RocherColorGX.woff2) format(woff2),
         url(./fonts/RocherColorGX.woff) format(woff);
    font-style: normal;
    font-weight: 400;
  }

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background: url(./images/image.jpg) center center/cover no-repeat;
    font-family: "Rocher";
}

.wrapper {
   width: 60%;
   margin: 5vw 0 0 5vw;
}

